/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  padding-top: 50px;
  padding-bottom: 20px; }

.color-tester {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  float: left;
  position: relative;
  background: #f0f0f0;
  margin: 5px; }

#pattern-form {
  margin-top: 20px; }

#main-nav {
  background: #c50125;
  border-color: #92011c;
  color: white; }
  #main-nav a {
    color: white;
    text-shadow: 0 1px 0 #92011c; }

#intarsia {
  position: relative;
  overflow: hidden; }

.intarsia-pattern-form {
  margin: 0 0 20px;
  position: relative;
  overflow: hidden; }

#intarsia .intarsia-palette {
  margin: 0 0 20px; }

#intarsia .intarsia-grid {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 7px 0 0 0;
  margin: 0;
  clear: both; }
  #intarsia .intarsia-grid ul {
    margin: 0;
    padding: 0;
    list-style: none; }

#intarsia .pattern-row {
  position: relative;
  float: left;
  padding: 0;
  margin: -8px 0 0 0;
  clear: left; }

#intarsia .tenth .stitch-holder {
  #border-bottom-color: #999; }

#intarsia .stitch-holder {
  position: relative;
  float: left;
  width: 20px;
  height: 20px; }

#intarsia .stitch {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #intarsia .stitch .svg-background {
    fill: #fcfcfc;
    transition-property: fill;
    transition-duration: .25s; }
  #intarsia .stitch .svg-border {
    fill: #ccc; }
  #intarsia .stitch:hover .svg-background {
    fill: #ddd; }

/* colors for paintcolors */
#intarsia .stitch.red .svg-background {
  fill: red; }
#intarsia .stitch.red .svg-border {
  fill: #cc0000; }

#intarsia .stitch.orange .svg-background {
  fill: orange; }
#intarsia .stitch.orange .svg-border {
  fill: #cc8400; }

#intarsia .stitch.yellow .svg-background {
  fill: yellow; }
#intarsia .stitch.yellow .svg-border {
  fill: #cccc00; }

#intarsia .stitch.green .svg-background {
  fill: green; }
#intarsia .stitch.green .svg-border {
  fill: #004d00; }

#intarsia .stitch.blue .svg-background {
  fill: blue; }
#intarsia .stitch.blue .svg-border {
  fill: #0000cc; }

#intarsia .stitch.navy .svg-background {
  fill: navy; }
#intarsia .stitch.navy .svg-border {
  fill: #00004d; }

#intarsia .stitch.purple .svg-background {
  fill: purple; }
#intarsia .stitch.purple .svg-border {
  fill: #4d004d; }

#intarsia .stitch.white .svg-background {
  fill: white; }
#intarsia .stitch.white .svg-border {
  fill: #e6e6e6; }

#intarsia .stitch.silver .svg-background {
  fill: silver; }
#intarsia .stitch.silver .svg-border {
  fill: #a7a7a7; }

#intarsia .stitch.gray .svg-background {
  fill: gray; }
#intarsia .stitch.gray .svg-border {
  fill: #676767; }

#intarsia .stitch.black .svg-background {
  fill: black; }
#intarsia .stitch.black .svg-border {
  fill: black; }

.intarsia-palette {
  padding: 0; }

.intarsia-palette-color {
  position: relative;
  float: left;
  padding: 0;
  margin: 0 5px 0 0;
  list-style-type: none;
  width: 22px; }

.intarsia-btn-color {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: #fcfcfc;
  -webkit-box-shadow: 1px 1px 1px #dadada;
  -moz-box-shadow: 1px 1px 1px #dadada;
  box-shadow: 1px 1px 1px #dadada;
  margin: 0;
  padding: 0; }
  .selected > .intarsia-btn-color {
    border-color: #888; }
