/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  padding-top: 50px; }

#pattern-form {
  margin-top: 20px; }

#main-nav {
  background: #c50125;
  border-color: #92011c;
  color: white; }
  #main-nav a {
    color: white;
    text-shadow: 0 1px 0 #92011c; }

#intarsia {
  position: relative;
  overflow: hidden;
  margin: 2em 0; }

#intarsia .intarsia-palette {
  margin: 0 0 20px; }

#intarsia .intarsia-grid {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 7px 0 0 0;
  margin: 0;
  clear: both; }

#intarsia .pattern-row {
  position: relative;
  float: left;
  padding: 0;
  margin: -8px 0 0 0;
  clear: left; }

#intarsia .tenth .stitch-holder {
  #border-bottom-color: #999; }

#intarsia .stitch-holder {
  position: relative;
  float: left;
  width: 20px;
  height: 20px; }

#intarsia .stitch {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #intarsia .stitch .svg-background {
    fill: #fcfcfc;
    transition-property: fill;
    transition-duration: .25s; }
  #intarsia .stitch .svg-border {
    fill: #ccc; }
  #intarsia .stitch:hover .svg-background {
    fill: #ddd; }

/* colors for paintcolors */
#intarsia .stitch.red .svg-background {
  fill: red; }
#intarsia .stitch.red .svg-border {
  fill: #cc0000; }

#intarsia .stitch.orange .svg-background {
  fill: orange; }
#intarsia .stitch.orange .svg-border {
  fill: #cc8400; }

#intarsia .stitch.yellow .svg-background {
  fill: yellow; }
#intarsia .stitch.yellow .svg-border {
  fill: #cccc00; }

#intarsia .stitch.green .svg-background {
  fill: green; }
#intarsia .stitch.green .svg-border {
  fill: #004d00; }

#intarsia .stitch.blue .svg-background {
  fill: blue; }
#intarsia .stitch.blue .svg-border {
  fill: #0000cc; }

#intarsia .stitch.navy .svg-background {
  fill: navy; }
#intarsia .stitch.navy .svg-border {
  fill: #00004d; }

#intarsia .stitch.purple .svg-background {
  fill: purple; }
#intarsia .stitch.purple .svg-border {
  fill: #4d004d; }

#intarsia .stitch.white .svg-background {
  fill: white; }
#intarsia .stitch.white .svg-border {
  fill: #e6e6e6; }

#intarsia .stitch.silver .svg-background {
  fill: silver; }
#intarsia .stitch.silver .svg-border {
  fill: #a7a7a7; }

#intarsia .stitch.gray .svg-background {
  fill: gray; }
#intarsia .stitch.gray .svg-border {
  fill: #676767; }

#intarsia .stitch.black .svg-background {
  fill: black; }
#intarsia .stitch.black .svg-border {
  fill: black; }

#intarsia .palette-color {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fcfcfc;
  padding: 0;
  margin: 0 5px 0 0;
  list-style-type: none;
  /* colors for paintcolors */ }
  #intarsia .palette-color.selected {
    border-color: black !important; }
  #intarsia .palette-color.red {
    background: red;
    border-color: #cc0000; }
  #intarsia .palette-color.orange {
    background: orange;
    border-color: #cc8400; }
  #intarsia .palette-color.yellow {
    background: yellow;
    border-color: #cccc00; }
  #intarsia .palette-color.green {
    background: green;
    border-color: #004d00; }
  #intarsia .palette-color.blue {
    background: blue;
    border-color: #0000cc; }
  #intarsia .palette-color.navy {
    background: navy;
    border-color: #00004d; }
  #intarsia .palette-color.purple {
    background: purple;
    border-color: #4d004d; }
  #intarsia .palette-color.white {
    background: white;
    border-color: #e6e6e6; }
  #intarsia .palette-color.silver {
    background: silver;
    border-color: #a7a7a7; }
  #intarsia .palette-color.gray {
    background: gray;
    border-color: #676767; }
  #intarsia .palette-color.black {
    background: black;
    border-color: black; }
  #intarsia .palette-color a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; }
